In [30]:
import pandas as pd 
data = pd.read_csv('D:\End_to_End_MLOps on GCP\predict_loan_apporval\data/clean_data.csv')
data

C:\Users\HP\AppData\Local\Temp\ipykernel_14520\969283777.py:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('D:\End_to_End_MLOps on GCP\predict_loan_apporval\data/clean_data.csv')

,Unnamed: 0,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,...,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Credit Score_1
0,0,6cf51492-02a2-423e-b93d-676f05b9ad53,7c202b37-2add-44e8-9aea-d5b119aea935,Loan Refused,12232,0,728.0,0,0,46643.0,...,777.39,18.0,10.0,12,0,6762,7946.0,0.0,0.0,728.0
1,1,552e7ade-4292-4354-9ff9-c48031697d72,e7217b0a-07ac-47dd-b379-577b5a35b7c6,Loan Refused,25014,1,733.0,1,1,81099.0,...,892.09,26.7,NaN,14,0,35706,77961.0,0.0,0.0,733.0
2,2,9b5e32b3-8d76-4801-afc8-d729d5a2e6b9,0a62fc41-16c8-40b5-92ff-9e4b763ce714,Loan Refused,16117,0,724.0,2,1,60438.0,...,1244.02,16.7,32.0,11,1,11275,14815.0,1.0,0.0,724.0
3,3,5419b7c7-ac11-4be2-a8a7-b131fb6d6dbe,30f36c59-5182-4482-8bbb-5b736849ae43,Loan Refused,11716,0,740.0,3,0,34171.0,...,990.94,10.0,NaN,21,0,7009,43533.0,0.0,0.0,740.0
4,4,1450910f-9495-4fc9-afaf-9bdf4b9821df,70c26012-bba5-42c0-8dcb-75295ada31bb,Loan Refused,9789,1,686.0,1,1,47003.0,...,503.71,16.7,25.0,13,1,16913,19553.0,1.0,0.0,686.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88905,88905,77d7330a-dedb-415a-ac55-865338f27c3f,8ab2250d-4807-4ba2-964e-670e886abbcf,Loan Given,10136,0,728.0,1,0,35476.0,...,567.62,21.2,14.0,14,0,15914,28265.0,0.0,0.0,728.0
88906,88906,7934a353-b3c5-430e-b7fb-03ff163aac20,341809ba-0559-4c66-a0fb-9f52471cd664,Loan Given,29610,0,710.0,1,1,123375.0,...,2508.63,15.0,16.0,11,0,17727,32766.0,0.0,0.0,710.0
88907,88907,d43b4c9c-8cb9-4cff-b86c-84b4f2c6aa13,5dc48d5a-36e9-4e52-9568-d81f218386b0,Loan Given,24394,0,746.0,-1,1,71148.0,...,818.20,36.4,9.0,8,0,44728,53374.0,0.0,0.0,746.0
88908,88908,e3ffa0d5-5164-4815-9231-7ae5e0887dfd,2bfeb5be-6441-4e2d-be6e-20a138127d93,Loan Refused,5030,0,722.0,-1,0,25424.0,...,360.17,19.0,7.0,12,0,6374,18422.0,0.0,0.0,722.0
88909,88909,26e3e4f3-7442-4b68-bc2b-a9c4567f67ce,5514bfcc-e996-4d9b-80d4-9ea66dfa1ac5,Loan Given,18446,0,718.0,6,0,44066.0,...,749.13,10.7,NaN,18,1,6718,21124.0,0.0,1.0,718.0

In [31]:
#Now lets convert categorial data into numerical data
cat_cols = ['Term', 'Years in current job', 'Home Ownership', 'Purpose']
for c in cat_cols:
    data[c] = pd.factorize(data[c])[0]

In [32]:
from sklearn.preprocessing import LabelBinarizer
lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(data['Loan Status'])

In [33]:
y = lb_results
y

array([[1],
       [1],
       [1],
       ...,
       [0],
       [1],
       [0]])

In [34]:
y = y.ravel()
y.shape

(88910,)

In [36]:
#Scaling all the dependent variables..
import pandas as pd 
df = pd.read_csv('D:\End_to_End_MLOps on GCP\predict_loan_apporval\data/final_data.csv')
df

,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,12232.0,0.0,728.0,0.0,0.0,46643.0,0.0,777.39,18.0,10.000000,12.0,0.0,6762.0,7946.0,0.0,0.0
1,25014.0,1.0,733.0,1.0,1.0,81099.0,0.0,892.09,26.7,45.263653,14.0,0.0,35706.0,77961.0,0.0,0.0
2,16117.0,0.0,724.0,2.0,1.0,60438.0,1.0,1244.02,16.7,32.000000,11.0,1.0,11275.0,14815.0,1.0,0.0
3,11716.0,0.0,740.0,3.0,0.0,34171.0,0.0,990.94,10.0,20.648118,21.0,0.0,7009.0,43533.0,0.0,0.0
4,9789.0,1.0,686.0,1.0,1.0,47003.0,1.0,503.71,16.7,25.000000,13.0,1.0,16913.0,19553.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88905,10136.0,0.0,728.0,1.0,0.0,35476.0,0.0,567.62,21.2,14.000000,14.0,0.0,15914.0,28265.0,0.0,0.0
88906,29610.0,0.0,710.0,1.0,1.0,123375.0,0.0,2508.63,15.0,16.000000,11.0,0.0,17727.0,32766.0,0.0,0.0
88907,24394.0,0.0,746.0,11.0,1.0,71148.0,0.0,818.20,36.4,9.000000,8.0,0.0,44728.0,53374.0,0.0,0.0
88908,5030.0,0.0,722.0,11.0,0.0,25424.0,0.0,360.17,19.0,7.000000,12.0,0.0,6374.0,18422.0,0.0,0.0
88909,18446.0,0.0,718.0,6.0,0.0,44066.0,0.0,749.13,10.7,25.970973,18.0,1.0,6718.0,21124.0,0.0,1.0

In [38]:
from sklearn.preprocessing import scale
from sklearn import preprocessing
X_scaled = preprocessing.scale(df)
print(X_scaled)

[[-0.1869176  -0.57302977  0.06886311 ... -0.79845518 -0.32295035
  -0.10958473]
 [ 1.48349848  1.74511004  0.26644983 ...  1.83825771 -0.32295035
  -0.10958473]
 [ 0.32079375 -0.57302977 -0.08920626 ... -0.53977375  2.39304617
  -0.10958473]
 ...
 [ 1.40247376 -0.57302977  0.78017528 ...  0.91232955 -0.32295035
  -0.10958473]
 [-1.1281112  -0.57302977 -0.16824094 ... -0.4039368  -0.32295035
  -0.10958473]
 [ 0.62515919 -0.57302977 -0.32631031 ... -0.30218149 -0.32295035
   3.77361168]]